{% extends 'base.html.twig' %}

{% block title %}Bands list{% endblock %}

{% block body %}
    <h1>Bands list</h1>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr>
                <td>{{ band.id }}</td>
                <td>{{ band.name }}</td>
                <td>{{ band.description }}</td>
                <td>{{ band.created_at }}</td>
                <td><a href="{{ path('connection_user_a',{bandId: band.id}) }}">Select</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
