{% extends 'base.html.twig' %}

{% block title %}Bands User B list{% endblock %}

{% block body %}
    <h1>Select User B</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
        <br>
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td><a href="{{ path('connection_connect_users',{'bandId': bandId, 'userAId': userAId, 'userBId' : user.user_id}) }}">Select</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
